<style type="text/css">
		
		* {
			box-sizing: border-box;
			margin-top: 0px;
			margin-left: 0px;
		}

		h1 {
			text-aling: center;

		}
		h2 {
			color: red;
			font-size: 20px;
			width:200px;
			font-family: cursive;
		}

		div {
			color: blue;
			font-size: 36px;
			text-transform: capitalize;
		}

		article {
			color: brown;
			text-align: left;
  			text-orientation: sideways-right;
  			opacity: .2;
		}

		footer, .bgblue {
			background-color: aqua;
			width: 150px;
		}

		#section1 {
			background-color: black;	
			width: 150px;
			color: yellow;
			opacity: .6;
		}

		li.bgpink {
			font-family: monospace;
			background-color: pink;
			width: 150px;
		}

		article > p {
			font-size: 10px;
		}

		span span {
			font-style: italic;
			font-family: cursive;
		}

		a:link, a:visited {
			text-decoration: none;
			color: blue;
			background-color: none;
			width: 200px;

		}

		a:hover, a:active {
			background-color: yellow;
		}

		ol li:nth-child(1):hover {
			background-color: purple;
			cursor: pointer;
		}

		body {
			background-color: gray;
			font-size: 16px;


		}

		.box {
			font-family: monospace;
			color:black;
			font-size: 16px;
			height: 500px;
			border: 1px solid black;
			overflow: auto;

		}
		
		#content {
			font-family: sans-serif cursive;
			background-color: aqua; 
			background-image: url("http://www.gettyimages.pt/gi-resources/images/Homepage/Hero/PT/PT_hero_42_153645159.jpg");
			background-position: top right;
			color:white;
			font: bold;
			border-style: 2px groove black;	
			font-size: 75%;	
			border: 1px solid black;
			height: 400px;	
		}

</style>